/* Minimal reset for Ant Design to take over styling */
body {
  margin: 0;
  padding: 0;
  /* Support for iOS safe areas */
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

html {
  /* Enable the padding to be added to the edges of the screen */
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

#root {
  height: 100%;
}
